<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SiwBook - Nuovo Libro</title>
  <link rel="stylesheet" href="/css/add-book.css" />
</head>
<body>
  <div class="header-logo">
    <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
  </div>
  <div class="book-container">
    <h2>Aggiungi un libro</h2>
    <form th:action="@{/admin/book}" th:object="${book}" method="POST" enctype="multipart/form-data" class="book-card">
      
      <!-- error globali -->
      <div class="form-group">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-error"></p>
      </div>
      
      <div class="form-group">
        <input required type="text" placeholder="Titolo" th:field="*{titolo}" />
        <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}" class="text-error"></span>
      </div>
      
      <div class="form-group">
        <input required type="text" placeholder="Anno di pubblicazione" th:field="*{annoPubblicazione}" />
        <span th:if="${#fields.hasErrors('annoPubblicazione')}" th:errors="*{annoPubblicazione}" class="text-error"></span>
      </div>
      
      <div class="form-group">
        <label class="file-label">Immagini del libro (opzionale)</label>
        <input type="file" name="bookImages" accept="image/*" multiple />
      </div>
      
      <div class="form-group">
        <input type="text"
               class="form-filter"
               placeholder="Cerca un autore..."
               data-target="authors"/>
        <select multiple id="authors" th:field="*{authors}" class="form-select" size="6">
          <option th:each="aut : ${allAuthors}"
                  th:value="${aut.id}"
                  th:text="${aut.name + ' ' + aut.surname}">
          </option>
        </select>
        <div class="form-text">Tieni premuto Ctrl (o Cmd) per selezionare più autori.</div>
      </div>
      
      <div class="form-group">
        <button type="submit">Conferma</button>
      </div>
      <div class="cancel-link">
        <a th:href="@{/books}">Annulla</a>
      </div>
    </form>
  </div>

  <script th:src="@{/js/filterList.js}"></script>
</body>
</html>
