<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home SIW-Books admin</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/book.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div th:replace="fragments/adminNavbar :: navbarAdmin"></div>

    <div class="main-content">
      <div class="intro-text">
        <h1>Benvenuto Admin</h1>
      </div>
        <section class="books">
          <div class="book-card" th:each="book : ${randomBooks}">
            <a th:href="@{'/book/' + ${book.id}}">
              <!-- Se ci sono immagini -->
              <img th:if="${book.immagini != null and !book.immagini.isEmpty()}"
                  th:src="@{'/uploads/' + ${book.immagini[0].path}}"
                  alt="Copertina di [[${book.titolo}]]">
              <!-- Placeholder se non ci sono immagini -->
              <img th:if="${book.immagini == null or book.immagini.isEmpty()}"
                  src="/images/default_book.jpg"
                  alt="Nessuna immagine disponibile">
              <div class="title-overlay">
                <h2 th:text="${book.titolo} + ' (' + ${book.annoPubblicazione} + ')'">Titolo del libro</h2>
              </div>
            </a>
          </div>
        </section>

          <button onclick="window.location.href='/books'" class="discover-button">Vedi tutti i libri</button>
      </div>

    <div th:replace="fragments/flash :: flash-messages"></div>
  </body>
</html>