<!DOCTYPE html>
<html>
  <head>
    <title>Utenti</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/images/logo.png" width="10%"/></a></div>
    <h1>Utenti</h1>
    <div th:if="${users.isEmpty()}">Non ci utenti nel sistema</div>
    <ul>
      <li th:each="user: ${users}">
        <a th:href="@{'/admin/user' + '/' + ${user.id}}"
          th:text="${user.name} + ' ' + ${user.surname}">Up! (200)</a>
      </li>
    </ul>
  </body>
</html>