.main-content {
  flex: 1;
  margin-top: 10%; /* altezza navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem; /* spazio tra testo introduttivo e libri */
  text-align: center;
}
.intro-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.intro-text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ddd;
}

button {
  background-color: transparent;
  color: white;
  border: white solid 1px;
  padding: 1rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease,
              transform 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}