<!-- singleBook.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${book != null ? book.titolo : 'Libri'}">Libri</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/singleBook.css" />
    <link rel="stylesheet" href="/css/review.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
</head>

<body>
    <!-- navbar fissa -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/flash :: flash-messages"></div>

    <!-- wrapper per spostare sotto la navbar -->
    <main class="content">
        <section class="book" th:if="${book}">
            <h2 th:text="${book.titolo}">Titolo del libro</h2>
            <p><strong>Anno di pubblicazione:</strong> <span th:text="${book.annoPubblicazione}">2000</span></p>

            <p>
                <strong>Autori:</strong>
                <span th:each="author,iterStat : ${book.authors}">
                    <a th:href="@{'/author/' + ${author.id}}"
                       th:text="${author.name + ' ' + author.surname}">
                       Nome Cognome
                    </a>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </p>

            <div class="image-gallery" th:if="${book.immagini}">
                <h2>Galleria Immagini</h2>
                <div class="images">
                    <img th:each="img : ${book.immagini}"
                         th:if="${img != null}"
                         th:src="@{'/uploads/' + ${img.path}}"
                         alt="Immagine libro"/>
                </div>
            </div>
            <!-- Fragment recensioni -->
            <div th:insert="~{reviews :: reviewsFragment}"></div>
        </section>

        <div class="book" th:unless="${book}">
            <p>Libro non trovato.</p>
        </div>
    </main>
</body>
</html>
