<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errore - SIW Books</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="main-content">
        <div class="intro-text">
            <h1>Errore</h1>
            <h3>Richiesta non supportata</h3>
        </div>

    <button onclick="window.location.href='/'" class="discover-button">Torna alla homepage</button>
    </div>

</body>
</html>