<!DOCTYPE html>
<html>

<head>
	<title>SiwBook - Registrazione</title>
	<link rel="stylesheet" href="/css/register.css" />
</head>

<body>
	<div class="register-container">
		<h2>Registrazione nuovo utente</h2>

		<form th:action="@{/register}" method="POST" enctype="multipart/form-data" class="register-card">
			<div class="form-group">
				<input type="text" placeholder="Nome" required th:field="${user.name}" />
				<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="text" placeholder="Cognome" required th:field="${user.surname}" />
				<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="email" placeholder="Email" required th:field="${user.email}" />
				<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="date" required th:field="${user.birth}" />
				<span th:if="${#fields.hasErrors('user.birth')}" th:errors="${user.birth}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="text" placeholder="Username" required th:field="${credentials.username}" />
				<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="password" placeholder="Password" required th:field="${credentials.password}" />
				<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
			</div>

			<div class="form-group">
				<input type="file" name="profileImage" accept="image/*" />
			</div>

			<div class="form-group">
				<button type="submit">Registra</button>
			</div>

			<div class="register-social">
			<a th:href="@{/oauth2/authorization/github}">Registrati con GitHub
				<span><img src="/images/github-logo.png" alt="GitHub"></span></a>
			<a th:href="@{/oauth2/authorization/google}">Registrati con Google <span>
				<img src="/images/google-logo.png" alt="Google"></span></a>
			</div>

			<div class="login-link">
				<p>Hai già un account? <a href="/login">Accedi</a></p>
			</div>
		</form>
	</div>
</body>

</html>
