<!DOCTYPE html>
<html>
    <head>
        <title>Profilo Utente</title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>

    <body>
        <div>
            <a href="/"><img src="/logo-siw.png" width="20%" alt="Logo"/></a>
        </div>

        <div th:if="${user}">
            <h1 th:text="${user.name} + ' ' + ${user.surname}">Nome Cognome</h1>
            <div>Email: <span th:text="${user.email}">email@example.com</span></div>
            <div>Data di nascita: 
                <span th:text="${#temporals.format(user.birth, 'dd/MM/yyyy')}">01/01/2000</span>
            </div>
            <div th:if="${user.imagePath}">
                <img th:src="@{'/uploads/' + ${user.imagePath}}" width="100" alt="Foto profilo"/>
            </div>
        </div>
        <div th:unless="${user}">Utente non trovato.</div>
    </body>
</html>
